name: Stage Deploy

on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  docker-build-http:
    name: Build HTTP Server docker container
    runs-on: ubuntu-latest
    permissions:
      contents: read

      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Login to GitHub Container Registry

        uses: docker/login-action@v1

        with:

          registry: ghcr.io

          username: ${{ github.actor }}

          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker

        id: meta

        uses: docker/metadata-action@v3

        with:

          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}


      - name: Build and push

        uses: docker/build-push-action@v2

        with:

          context: ./src

          file: Dockerfile.http-server

          push: true

          tags: ghcr.io/psysovet2/location:latest